<%#= vite_typescript_tag "reservations" %>
<%#= content_tag 'div', '', id: 'reservations-new' %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">新規予約</h1>

  <%= render "form", { reservation: @reservation, form_id: "reservations-new" } %>

  <%= link_to '予約一覧へ戻る', reservations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
